USE [master]
GO
/****** Object:  Database [VentaGamer]    Script Date: 3/7/2022 20:26:27 ******/
CREATE DATABASE [VentaGamer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VentaGamer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VentaGamer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VentaGamer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VentaGamer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VentaGamer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VentaGamer]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria_Ca] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Ca] [nchar](15) NOT NULL,
	[Descripcion_Ca] [char](100) NOT NULL,
	[Imagen_Ca] [nchar](100) NULL,
	[Estado_Ca] [bit] NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[IdCategoria_Ca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[CBU_Cu] [nchar](22) NOT NULL,
	[Dni_Cu] [char](8) NOT NULL,
	[Saldo_Cu] [decimal](8, 2) NULL,
	[Estado_Cu] [bit] NULL,
 CONSTRAINT [PK_Cuentas] PRIMARY KEY CLUSTERED 
(
	[CBU_Cu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFacturas]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFacturas](
	[IdProducto_DF] [int] NOT NULL,
	[IdFactura_DF] [int] NOT NULL,
	[Cantidad_DF] [int] NOT NULL,
	[PrecioUnitario_DF] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_DetalleFacturas] PRIMARY KEY CLUSTERED 
(
	[IdProducto_DF] ASC,
	[IdFactura_DF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[IdFactura_Fa] [int] IDENTITY(1,1) NOT NULL,
	[CodTipoPago_Fa] [nchar](3) NOT NULL,
	[Dni_Fa] [char](8) NOT NULL,
	[Envio_Fa] [bit] NULL,
	[Direccion_Fa] [nchar](50) NULL,
	[RangoHorario_Fa] [nchar](13) NULL,
	[MontoFinal_Fa] [decimal](8, 2) NOT NULL,
	[Fecha_Fa] [smalldatetime] NOT NULL,
	[Estado_Fa] [int] NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[IdFactura_Fa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[IdLocalidad_Lo] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia_Lo] [int] NOT NULL,
	[Localidad_Lo] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Localidades] PRIMARY KEY CLUSTERED 
(
	[IdLocalidad_Lo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[IdMarca_Ma] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Ma] [nchar](20) NOT NULL,
	[Eslogan_Ma] [nchar](100) NOT NULL,
	[Imagen_Ma] [nchar](100) NOT NULL,
	[Estado_Ma] [bit] NULL,
 CONSTRAINT [PK_Marcas] PRIMARY KEY CLUSTERED 
(
	[IdMarca_Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto_Pr] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria_Pr] [int] NOT NULL,
	[IdMarca_Pr] [int] NOT NULL,
	[Nombre_Pr] [nchar](100) NOT NULL,
	[Descripcion_Pr] [char](100) NOT NULL,
	[Precio_Pr] [decimal](8, 2) NULL,
	[Stock_Pr] [int] NOT NULL,
	[Imagen_Pr] [nchar](100) NULL,
	[Estado_Pr] [bit] NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProducto_Pr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[IdProvincia_Prv] [int] IDENTITY(1,1) NOT NULL,
	[Provincia_Prv] [nchar](40) NOT NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[IdProvincia_Prv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposPago]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposPago](
	[CodTipoPago_TP] [nchar](3) NOT NULL,
	[Descripcion_TP] [nchar](100) NOT NULL,
 CONSTRAINT [PK_TiposPago] PRIMARY KEY CLUSTERED 
(
	[CodTipoPago_TP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Dni_Us] [char](8) NOT NULL,
	[IdProvincia_Us] [int] NOT NULL,
	[IdLocalidad_Us] [int] NOT NULL,
	[Nombre_Us] [nchar](20) NOT NULL,
	[Apellido_Us] [nchar](20) NOT NULL,
	[Email_Us] [nchar](50) NOT NULL,
	[Contrasena_Us] [nchar](20) NOT NULL,
	[Direccion_Us] [nchar](50) NOT NULL,
	[Telefono_Us] [nchar](10) NOT NULL,
	[ImagenPerfil_Us] [nchar](100) NOT NULL,
	[Permiso_Us] [bit] NOT NULL,
	[Estado_Us] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Dni_Us] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria_Ca], [Nombre_Ca], [Descripcion_Ca], [Imagen_Ca], [Estado_Ca]) VALUES (1, N'Teclados       ', N'Teclados mecanicos                                                                                  ', N'~/Imagenes/Categoria_1.jpg                                                                          ', 1)
INSERT [dbo].[Categorias] ([IdCategoria_Ca], [Nombre_Ca], [Descripcion_Ca], [Imagen_Ca], [Estado_Ca]) VALUES (2, N'Mouse          ', N'Mouse inalámbricos                                                                                  ', N'~/Imagenes/Categoria_2.jpg                                                                          ', 1)
INSERT [dbo].[Categorias] ([IdCategoria_Ca], [Nombre_Ca], [Descripcion_Ca], [Imagen_Ca], [Estado_Ca]) VALUES (3, N'Monitores      ', N'Monitores gamer                                                                                     ', N'~/Imagenes/Categoria_3.jpg                                                                          ', 1)
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
INSERT [dbo].[DetalleFacturas] ([IdProducto_DF], [IdFactura_DF], [Cantidad_DF], [PrecioUnitario_DF]) VALUES (1, 1, 1, CAST(19000.00 AS Decimal(8, 2)))
INSERT [dbo].[DetalleFacturas] ([IdProducto_DF], [IdFactura_DF], [Cantidad_DF], [PrecioUnitario_DF]) VALUES (8, 4, 1, CAST(19850.00 AS Decimal(8, 2)))
INSERT [dbo].[DetalleFacturas] ([IdProducto_DF], [IdFactura_DF], [Cantidad_DF], [PrecioUnitario_DF]) VALUES (9, 7, 4, CAST(67820.00 AS Decimal(8, 2)))
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([IdFactura_Fa], [CodTipoPago_Fa], [Dni_Fa], [Envio_Fa], [Direccion_Fa], [RangoHorario_Fa], [MontoFinal_Fa], [Fecha_Fa], [Estado_Fa]) VALUES (1, N'TAR', N'00000001', 1, N'                                                  ', N'09:00-18:00  ', CAST(19000.00 AS Decimal(8, 2)), CAST(N'2022-07-03T15:44:00' AS SmallDateTime), 2)
INSERT [dbo].[Facturas] ([IdFactura_Fa], [CodTipoPago_Fa], [Dni_Fa], [Envio_Fa], [Direccion_Fa], [RangoHorario_Fa], [MontoFinal_Fa], [Fecha_Fa], [Estado_Fa]) VALUES (2, N'TAR', N'00000001', 1, N'                                                  ', N'09:00-18:00  ', CAST(43610.00 AS Decimal(8, 2)), CAST(N'2022-07-03T15:45:00' AS SmallDateTime), 2)
INSERT [dbo].[Facturas] ([IdFactura_Fa], [CodTipoPago_Fa], [Dni_Fa], [Envio_Fa], [Direccion_Fa], [RangoHorario_Fa], [MontoFinal_Fa], [Fecha_Fa], [Estado_Fa]) VALUES (3, N'TAR', N'00000001', 1, N'                                                  ', N'09:00-18:00  ', CAST(13801.00 AS Decimal(8, 2)), CAST(N'2022-07-03T16:32:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Localidades] ON 

INSERT [dbo].[Localidades] ([IdLocalidad_Lo], [IdProvincia_Lo], [Localidad_Lo]) VALUES (1, 1, N'25 de Mayo                                        ')
INSERT [dbo].[Localidades] ([IdLocalidad_Lo], [IdProvincia_Lo], [Localidad_Lo]) VALUES (2, 1, N'3 de febrero                                      ')
INSERT [dbo].[Localidades] ([IdLocalidad_Lo], [IdProvincia_Lo], [Localidad_Lo]) VALUES (3, 1, N'A. Alsina                                         ')
GO
SET IDENTITY_INSERT [dbo].[Localidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([IdMarca_Ma], [Nombre_Ma], [Eslogan_Ma], [Imagen_Ma], [Estado_Ma]) VALUES (1, N'HyperX              ', N'We are all gamers                                                                                   ', N'~/Imagenes/HyperX.png                                                                               ', 1)
INSERT [dbo].[Marcas] ([IdMarca_Ma], [Nombre_Ma], [Eslogan_Ma], [Imagen_Ma], [Estado_Ma]) VALUES (2, N'Logitech            ', N'Si tienes un poco de luz, entonces tienes el poder                                                  ', N'~/Imagenes/2.png                                                                                    ', 1)
INSERT [dbo].[Marcas] ([IdMarca_Ma], [Nombre_Ma], [Eslogan_Ma], [Imagen_Ma], [Estado_Ma]) VALUES (3, N'Asus                ', N'Inspiring innovation                                                                                ', N'~/Imagenes/Asus.jpg                                                                                 ', 1)
SET IDENTITY_INSERT [dbo].[Marcas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IdProducto_Pr], [IdCategoria_Pr], [IdMarca_Pr], [Nombre_Pr], [Descripcion_Pr], [Precio_Pr], [Stock_Pr], [Imagen_Pr], [Estado_Pr]) VALUES (1, 1, 1, N'Teclado HyperX Alloy Elite 2                                                                        ', N'Teclado mecanico con RGB                                                                            ', CAST(19000.01 AS Decimal(8, 2)), 10, N'~/Imagenes/Producto_1.jpg                                                                           ', 1)
INSERT [dbo].[Productos] ([IdProducto_Pr], [IdCategoria_Pr], [IdMarca_Pr], [Nombre_Pr], [Descripcion_Pr], [Precio_Pr], [Stock_Pr], [Imagen_Pr], [Estado_Pr]) VALUES (2, 1, 3, N'Teclado Mecanico ASUS                                                                               ', N'ROG STRIX Flare PNK US Cherry MX Brown RGB                                                          ', CAST(18960.00 AS Decimal(8, 2)), 5, N'~/Imagenes/Producto_2.jpg                                                                           ', 1)
INSERT [dbo].[Productos] ([IdProducto_Pr], [IdCategoria_Pr], [IdMarca_Pr], [Nombre_Pr], [Descripcion_Pr], [Precio_Pr], [Stock_Pr], [Imagen_Pr], [Estado_Pr]) VALUES (3, 8, 3, N'Mother ASUS TUF B550M                                                                               ', N'PLUS AM4                                                                                            ', CAST(23022.00 AS Decimal(8, 2)), 6, N'~/Imagenes/3.jpg                                                                                    ', 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincias] ON 

INSERT [dbo].[Provincias] ([IdProvincia_Prv], [Provincia_Prv]) VALUES (1, N'Buenos Aires                            ')
INSERT [dbo].[Provincias] ([IdProvincia_Prv], [Provincia_Prv]) VALUES (2, N'Buenos Aires-GBA                        ')
INSERT [dbo].[Provincias] ([IdProvincia_Prv], [Provincia_Prv]) VALUES (3, N'Capital Federal                         ')
SET IDENTITY_INSERT [dbo].[Provincias] OFF
GO
INSERT [dbo].[TiposPago] ([CodTipoPago_TP], [Descripcion_TP]) VALUES (N'CON', N'Contado                                                                                             ')
INSERT [dbo].[TiposPago] ([CodTipoPago_TP], [Descripcion_TP]) VALUES (N'TAR', N'Tarjeta de Débito/Crédito                                                                           ')
GO
INSERT [dbo].[Usuarios] ([Dni_Us], [IdProvincia_Us], [IdLocalidad_Us], [Nombre_Us], [Apellido_Us], [Email_Us], [Contrasena_Us], [Direccion_Us], [Telefono_Us], [ImagenPerfil_Us], [Permiso_Us], [Estado_Us]) VALUES (N'00000001', 1, 1, N'Admin               ', N'Admin               ', N'admin@admin.com                                   ', N'123123              ', N'Fake Address 123                                  ', N'434241    ', N'~/Imagenes/ImagenPerfil_00000001.jpg                                                                ', 1, 1)
GO
ALTER TABLE [dbo].[Categorias] ADD  CONSTRAINT [DF__Categoria__Estad__267ABA7A]  DEFAULT ((1)) FOR [Estado_Ca]
GO
ALTER TABLE [dbo].[Cuentas] ADD  DEFAULT ((0.00)) FOR [Saldo_Cu]
GO
ALTER TABLE [dbo].[Cuentas] ADD  DEFAULT ((1)) FOR [Estado_Cu]
GO
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [DF__Facturas__Envio___4F7CD00D]  DEFAULT ((0)) FOR [Envio_Fa]
GO
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [DF__Facturas__Direcc__5070F446]  DEFAULT ('---RETIRO POR SUCURSAL---') FOR [Direccion_Fa]
GO
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [DF__Facturas__RangoH__5165187F]  DEFAULT ('09:00 a 18:00') FOR [RangoHorario_Fa]
GO
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [DF_MontoFinal_Fa]  DEFAULT ((0)) FOR [MontoFinal_Fa]
GO
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [DF_Estado_Fa]  DEFAULT ((2)) FOR [Estado_Fa]
GO
ALTER TABLE [dbo].[Marcas] ADD  CONSTRAINT [DF__Marcas__Estado_M__45F365D3]  DEFAULT ((1)) FOR [Estado_Ma]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF__Productos__Preci__300424B4]  DEFAULT ((0.00)) FOR [Precio_Pr]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF__Productos__Stock__30F848ED]  DEFAULT ((0)) FOR [Stock_Pr]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_Imagen]  DEFAULT ('~/Imagenes/No_Image.png') FOR [Imagen_Pr]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF__Productos__Estad__31EC6D26]  DEFAULT ((1)) FOR [Estado_Pr]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_ImagenPerfil]  DEFAULT ('~/Imagenes/Perfil_Usuario.jpg') FOR [ImagenPerfil_Us]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Permiso]  DEFAULT ((0)) FOR [Permiso_Us]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Estado]  DEFAULT ((1)) FOR [Estado_Us]
GO
ALTER TABLE [dbo].[Cuentas]  WITH CHECK ADD  CONSTRAINT [FK_Cuentas_Usuarios] FOREIGN KEY([Dni_Cu])
REFERENCES [dbo].[Usuarios] ([Dni_Us])
GO
ALTER TABLE [dbo].[Cuentas] CHECK CONSTRAINT [FK_Cuentas_Usuarios]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Facturas] FOREIGN KEY([IdFactura_DF])
REFERENCES [dbo].[Facturas] ([IdFactura_Fa])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Facturas]
GO
ALTER TABLE [dbo].[DetalleFacturas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleFacturas_Productos] FOREIGN KEY([IdProducto_DF])
REFERENCES [dbo].[Productos] ([IdProducto_Pr])
GO
ALTER TABLE [dbo].[DetalleFacturas] CHECK CONSTRAINT [FK_DetalleFacturas_Productos]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_TiposPago] FOREIGN KEY([CodTipoPago_Fa])
REFERENCES [dbo].[TiposPago] ([CodTipoPago_TP])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_TiposPago]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Usuarios] FOREIGN KEY([Dni_Fa])
REFERENCES [dbo].[Usuarios] ([Dni_Us])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Usuarios]
GO
ALTER TABLE [dbo].[Localidades]  WITH CHECK ADD  CONSTRAINT [FK_Localidades_Provincias] FOREIGN KEY([IdProvincia_Lo])
REFERENCES [dbo].[Provincias] ([IdProvincia_Prv])
GO
ALTER TABLE [dbo].[Localidades] CHECK CONSTRAINT [FK_Localidades_Provincias]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categoria] FOREIGN KEY([IdCategoria_Pr])
REFERENCES [dbo].[Categorias] ([IdCategoria_Ca])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categoria]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Marcas] FOREIGN KEY([IdMarca_Pr])
REFERENCES [dbo].[Marcas] ([IdMarca_Ma])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Marcas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Localidades] FOREIGN KEY([IdLocalidad_Us])
REFERENCES [dbo].[Localidades] ([IdLocalidad_Lo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Localidades]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Provincias] FOREIGN KEY([IdProvincia_Us])
REFERENCES [dbo].[Provincias] ([IdProvincia_Prv])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Provincias]
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarRegistroDF]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AgregarRegistroDF]
	@IdProducto INT,
	@IdFactura INT,
	@Cantidad INT,
	@PrecioUnitario DECIMAL(8, 2)
AS
	INSERT INTO DetalleFacturas VALUES(@IdProducto, @IdFactura, @Cantidad, @PrecioUnitario)
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTA_USUARIOS]    Script Date: 3/7/2022 20:26:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALTA_USUARIOS]
	@Dni CHAR(8),
	@IdProvincia INT,
	@IdLocalidad INT,
	@Nombre NCHAR(20),
	@Apellido NCHAR(20),
	@Email NCHAR(50),
	@Contrasena NCHAR(20),
	@Direccion NCHAR(50),
	@Telefono NCHAR(10)
AS
	INSERT INTO Usuarios (Dni_Us, IdProvincia_Us, IdLocalidad_Us, Nombre_Us, Apellido_Us, Email_Us, Contrasena_Us, Direccion_Us, Telefono_Us) 
	VALUES(@Dni, @IdProvincia, @IdLocalidad, @Nombre, @Apellido, @Email, @Contrasena, @Direccion, @Telefono)
GO
USE [master]
GO
